@import url("https://dhrutham-ui.netlify.app/CSS/dhrutham.css");
.App {
  font-family: sans-serif;
}

.sidebar {
  grid-template: sidebar;
  display: block;
  position: fixed;
  left: 0;
  top: 5rem;
  width: 13.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#products-div {
  grid-template: products-div;
  padding-left: 15rem;
  padding-top: 4rem;
}

.fixed-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.filterMobile {
  background-color: white;
  position: fixed;
  top: 3.5rem;
  right: 0;
  left: 0;
  bottom: 3rem;
  width: 100%;
  z-index: 1;
}

.filter-mobile {
  position: fixed;
  bottom: 0;
  display: none;
  width: 100%;
  text-align: center;
  background-color: plum;
}

.close-apply-filter {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  border-top: 1px solid #d1d5db;
}

@media (max-width: 635px) {
  .sidebar {
    display: none;
  }

  #products-div {
    padding-left: 0;
    padding-top: 4rem;
  }

  .filter-mobile {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 1;
    height: 2.5rem;
  }
}
.show-sidebar {
  display: block;
}

@media (min-width: 635px) {
  .close-apply-filter {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    height: 2rem;
    border-top: 1px solid black;
  }
}

.center-align-ver-hor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-text {
  color: #dc2626;
}
.error-border-color {
  border: 1px solid #dc2626;
}
.text-input {
  height: 25px;
  width: 95%;
  /* padding: 2px 5px; */

  border-radius: 3px;
  font-size: 14px;
  /* margin-top: 3px; */
  /* margin-bottom: 1rem; */
}
.genric-border-color {
  border: 1px solid var(--gray-color);
}

.cart-item {
  width: 90%;
  max-width: 35rem;
  margin: auto;
}
